.box{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
/*.content{
    max-width: 1280px;
    width: 100%;
    text-align: center;
    margin: auto;
}*/

.primary-btn{
    font-family: Bahnschrift, 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    text-decoration: none;
    color: black;
    margin: 63px 0 38px 0;
    text-align: center;
}

.primary-btn span{
    color: deepskyblue;
}

.menu-list{
    list-style: none;
    margin:35px 0 0 0 ;
    display: flex;
    background-color: #35444F;
    padding: 30px;
    justify-content: center;
    gap: 7vh;



}

.menu-link{
    text-decoration: none;
    background:#35444F;
    color:whitesmoke;
    font-family: Bahnschrift, 'sans-serif';
    border-color: whitesmoke;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;


}

.menu-link:hover{
    background: #222F3A;
   padding: 32px;
    /*margin: -30px;*/
    border-left: 1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;

}

/*.consulting{
    max-width: 1280px;
    width: 100%;
    text-align: center;
    margin: auto;
}*/
    main{
    margin-top: 48px ;
}

.container{
    display: flex;
    justify-content: space-between;
    /*gap: 20px;*/
}
aside{
    width: 344px;
    height: 399px;
}
.side-menu{
    list-style: none;
   /* margin: 48px 0 0 0 ;*/
   /* background-color: white;*/
    /*padding: 50px 90px;*/
    border: 1px solid black;
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
    flex-direction: column;

}

.side-link {
    text-decoration: none;
    /*background: white;*/
    /*color: black;*/
    font-family: Bahnschrift, 'sans-serif';
  -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    margin: 21px;

}

.side-item:hover{
    background: darkgrey;
    padding: 27px 38px;

}
section{
    width: 855px;
}

.scale {
    overflow: hidden;
    border: 1px solid black;
    /*padding: 75px 268px 73px 297px;*/
    /*margin: 0 99px 37px 52px;*/
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 75px 0;
    margin-bottom: 37px;


}
.scale img {
    transition: 1s;
    display: block;
}
.scale img:hover {
    transform: scale(1.2);
}

.txt-usual{
    font-family: Bahnschrift, 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 34px;
}

/*.bottom{
    max-width: 1280px;
    width: 100%;
    text-align: center;
    margin: auto;
}*/

.bottom-menu{
    list-style: none;
    margin:20px 0 30px 0 ;
    display: flex;
    background-color: #63696E7A;
    padding: 30px;
    justify-content: flex-start;
    gap: 6vh;

}
.bottom-link:hover{
    color: #3181A6;
    width: 166px;
    height: 0;
    left: 157px;
    top: 61px;
    border-bottom: 1px solid #3181A6;


}

.bottom-link{
    text-decoration: none;
    color:black;
    font-family: Bahnschrift, 'sans-serif';
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

}
.bottom-item {
    font-family: Bahnschrift, 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;






}


/*
.menu-list {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.menu-list a {
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 25px;
    padding: 10px 20px;
    border: 1px solid coral;
    display: flex;
}
.menu-item{
    display: inline-block;


}*/

/*
.page-content{
    max-width: 1280px;
    width: 100%;
    text-align: center;
    margin: auto;
    display: flex;
}
.menu{
    font-family: Bahnschrift;
    font-size: 18px;
    color: red;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 18px;
}
.menu-item{
    display: inline-block;
    margin-right: 50px;

}

.menu-item:last-child{
    margin-right: 0;
}


.menu-link{
    text-decoration: none;
    color: whitesmoke;
}
.menu-list {
    background-color: black;
    color: white;
    margin: 25px;
    padding: 20px 30px;
    border: 1px solid coral;
    text-align: center;



    
}*/

